{{#section 'title'}}
Quên mật khẩu
{{/section}}
{{#section 'css'}}
<script script src='https://cdn.jsdelivr.net/npm/sweetalert2@10'></script>
<style>
   .centerModal{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   }
.userInput{
	display: flex;
	justify-content: center;
}
.ModalInput{
	margin: 10px;
	height: 45px;
	width: 65px;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: arimo;
	font-size: 1.5rem;
	background:#f3f3f3;
  color: black;
  font-weight: bold;
}
.ModalInput:focus {
    outline: none !important;
    border:1px solid gold;
    box-shadow: 0 0 10px yellow;
}
</style>
{{/section}}
{{#section 'js'}}
{{!-- đoạn này cấu hình --}}
<script>
  function clickEvent(first,last){
		if(first.value.length){
			document.getElementById(last).focus();
		}
	}
  $(document).ready(function() {
    $('.quantity-input').bind("cut copy paste drag drop", function(e) {
        e.preventDefault();
    });
    if(`{{sendOTP}}` == 'true'){
      $('#modalOTP').modal({backdrop: 'static', keyboard: false});
      $('#modalOTP').modal('show');
    }   
  });
  function isNumberKey(e) {
      var charCode = (e.which) ? e.which : e.keyCode;
      if (charCode > 31 && (charCode < 48 || charCode > 57))
          return false;
      return true;
  }
</script>
{{!-- đoạn nay validate sdt --}}
<script>
  $('#frmforgotpass').on('submit', function (e) {
          e.preventDefault();
          validate();
  })
      function validate(){
          var vnf_regex = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g
          const Sdt = $('#Sdt').val();
          if(Sdt == ""){
            Swal.fire({
              title: 'Số điện thoại không được rỗng',
              icon: 'error',
              iconHtml: '',
              confirmButtonText: 'Trở về',
              showCloseButton: true
            });
            return false;
          }
          if (vnf_regex.test(Sdt) == false) 
          {
            Swal.fire({
              title: 'Số điện thoại của bạn không đúng định dạng',
              icon: 'error',
              iconHtml: '',
              confirmButtonText: 'Trở về',
              showCloseButton: true
            });
            return false;
          }
          $.getJSON(`/login/forgotpassword/isExistsPhone?Sdt=${Sdt}`, function (data) {
            if(data){
              $('#modalOTP').modal({backdrop: 'static', keyboard: false});
              $('#modalOTP').modal('show');
              return false;
            }else{
               Swal.fire({
                title: 'Số điện thoại không tồn tại trong hệ thống',
                icon: 'error',
                iconHtml: '',
                confirmButtonText: 'Trở về',
                showCloseButton: true
              });
              return false;
            }
          })
      }
</script>
{{!-- XỬ LÝ OTP --}}
<script>
  function verifyOTP(){
    $.getJSON(`/login/forgotpassword/turnoffOtp`, function (data) {
    })
    if($("#ist").val() != 1 || $("#sec").val() != 2 || $("#third").val() != 3 || $("#fourth").val() != 4 ){
      Swal.fire({
        title: 'Mã OTP không đúng',
        icon: 'error',
        iconHtml: '',
        confirmButtonText: 'Trở về',
        showCloseButton: true
      });
    }else{
      $('#modalOTP').modal('hide');
      $('#changePassWord').modal({backdrop: 'static', keyboard: false});
      $('#changePassWord').modal('show');
    }
  }
</script>

{{!-- KHÚC NÀY XỬ LÝ TẠO MẬT KHẨU MỚI --}}
<script>
 $('#frmChangePassword').on('submit', function (e) {
      e.preventDefault();
      ValidatePassword();
    })
    function ValidatePassword(){
      const MatKhauMoi = $('#MatKhauMoi').val();
      const XacNhanMatKhau = $('#XacNhanMatKhau').val();
      if(MatKhauMoi.length < 8){
        Swal.fire({
          title: 'Mật khẩu mới phải từ 8 ký tự',
          icon: 'error',
          iconHtml: '',
          confirmButtonText: 'Trở về',
          showCloseButton: true
        });
        return false;
      }
      if(MatKhauMoi != XacNhanMatKhau){
        Swal.fire({
          title: 'Xác nhận mật khẩu mới không đúng.',
          icon: 'error',
          iconHtml: '',
          confirmButtonText: 'Trở về',
          showCloseButton: true
        });
        return false;
      }
  
      $.getJSON(`/login/forgotpassword/changePassWord?MatKhau=${MatKhauMoi}`, function (response) {
          if(response){
            $("[data-dismiss=modal]").trigger({ type: "click" });
              Swal.fire({
                title: 'Đổi mật khẩu thành công',
                icon: 'success',
                iconHtml: '',
                confirmButtonText: 'Trở về',
                showCloseButton: true
              });
            return false;
          }else{
            Swal.fire({
              title: 'Đổi mật khẩu thất bại',
              icon: 'error',
              iconHtml: '',
              confirmButtonText: 'Trở về',
              showCloseButton: true
            });
            return false;
          }
        });
      return false;
    }
</script>
{{/section}}
<div class='container'>
  <div
    class='row'
    style='margin-top: 52px;margin-bottom: 52px; margin-top: 100px'
    >
    <div class='col-sm-6 mx-auto'>
      <div class='panel panel-default'>
        <div class='panel-body'>
          <div class='text-center'>
            <h3>
              <i class='fa fa-lock fa-4x'></i>
            </h3>
            <h2 class='text-center' style='color: red; font-weight:bold'>
              Quên Mật Khẩu
            </h2>
            <p>
              Vui lòng nhập số điện thoại của bạn
            </p>
            <div class='panel-body'>
              <form id='frmforgotpass' method='POST' class='form'>
                <fieldset>
                  <div class='form-group'>
                    <div class='input-group'>
                      <span class='input-group-addon'>
                      <i class='glyphicon glyphicon-envelope color-blue'></i>
                      </span>
                      <input
                        id='Sdt'
                        name='Sdt'
                        placeholder='Số điện thoại'
                        class='form-control quantity-input input-text qty text'
                        onkeypress='return isNumberKey(event)'
                        />
                    </div>
                  </div>
                  <div class='form-group'>
                    <input
                      class='btn btn-lg btn-primary btn-block'
                      value='Xác nhận'
                      title='Xác nhận số điện thoại'
                      type='submit'
                      />
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ModalOTP -->
<div class="modal fade" id="modalOTP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">XÁC THỰC OTP</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <h5>K2 vừa gửi một tin nhắn OTP đến bạn vui lòng điền vào ô trống bên dưới </h5>
        <div class="userInput">
          <input class="ModalInput"  type="text" id='ist' onkeypress='return isNumberKey(event)' maxlength="1" onkeyup="clickEvent(this,'sec')">
          <input class="ModalInput" type="text" id="sec" onkeypress='return isNumberKey(event)' maxlength="1" onkeyup="clickEvent(this,'third')">
          <input class="ModalInput" type="text" id="third" onkeypress='return isNumberKey(event)' maxlength="1" onkeyup="clickEvent(this,'fourth')">
          <input class="ModalInput" type="text" id="fourth" onkeypress='return isNumberKey(event)' maxlength="1" onkeyup="clickEvent(this,'fourth')">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="verifyOTP()" class="btn btn-primary">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

{{!-- MODAL FORGOPASSWORD --}}
<div class="modal fade centerModal" id="changePassWord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <form method="POST" form-action="" id="frmChangePassword">
               <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h4>
                  <button type="button" class="close" data-dismiss="modal"
                     aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                  </button>
               </div>
               <div class="modal-body">
                <div class="input-group input-group-ml mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                      Mật khẩu mới
                    </span>
                  </div>
                  <input
                    type="password"
                    id="MatKhauMoi"
                    name="MatKhauMoi"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                  />
                </div>
                <div class="input-group input-group-ml mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">
                      Nhập lại mật khẩu mới
                    </span>
                  </div>
                  <input
                    type="password"
                    id="XacNhanMatKhau"
                    name="XacNhanMatKhau"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-sm"
                  />
                </div>
               </div>
               <div class="modal-footer">
                  <button type="submit" 
                     class="btn btn-primary">Xác nhận
                  </button>
            </form>
            <button type="button" class="btn btn-light"
               data-dismiss="modal">Thoát</button>
            </div>
         </div>
      </div>
   </div>
</div>
